.page-title{
    display: block !important;
    text-align: center;
    font-size: 2rem;
    margin-top: 10px;
}
/* Forms */
.form-container{
    width: 400px;
    margin: auto;
}

.form-container.ui.stackable.container{
  display: flex;
  justify-content: right;
  margin-bottom: 20px;

} 

.ui.teal.button:focus,
.ui.teal.buttons .button:focus {
  background-color: #00b5ad;
}

/* Home Page */

#left {
  /* border: solid purple; */
  width: 35%;
  flex: 1
}

#right {
  flex: 1;
  /* border: solid green; */
  width: 65%;
  flex:1
}

#input-box{
  min-width: 300px;
  min-height: 200px;
}

.alignLeft.form-container.ui.stackable.container{
  justify-content: left;
  margin-bottom: 0;
  margin-top: 20px;
}

.ui.stackable.container{
  display: flex;
  justify-content: left;
  padding: 20px;
}

.ui.cards{
  display: flex;
  justify-content: right;
 
}

.ui.card{
  background-color: lightblue;
  min-width: 400px;
  border: solid red;
}

/* Spinner */
.ui.container{
display: inline-block;
}

.ui.active.inverted.dimmer{
  margin-top:20px;
}
/* Img Logo */
#logo{
  height: 300px;
  /* border: solid red; */
  margin-left:0;
}

/* Flex container */
.flex-container {
  display: flex;
  /* border: solid blue */
}

/* Main Page before Login */
#left-img {
  /* border: solid purple; */
  max-width: 60%;
  flex: 1;
}

#right-form {
  flex: 1;
  /* border: solid green; */
  min-width: 40%;
}

#login-btn{
  width: 100%;
  padding: 10px;
  font-size: large;
}

/* Register Page */
#register-btn{
  width: 100%;
  padding: 10px;
  font-size: large;
}
