.page-title{
    display: block !important;
    text-align: center;
    font-size: 2rem;
    margin-top: 10px;
}

.form-container{
    width: 400px;
    margin: auto;
}

.ui.teal.button:focus,
.ui.teal.buttons .button:focus {
  background-color: #00b5ad;
}

 .form-container.ui.stackable.container{
  display: flex;
  justify-content: right;
  margin-bottom: 20px;

} 
#input-box{
  min-width: 300px;
  min-height: 200px;
}

.alignLeft.form-container.ui.stackable.container{
  justify-content: left;
  margin-bottom: 0;
  margin-top: 20px;
}

.ui.stackable.container{
  display: flex;
  justify-content: left;
  padding: 20px;
}

.ui.cards{
  display: flex;
  justify-content: right;
 
}

.ui.card{
  background-color: lightblue;
  min-width: 400px;
  border: solid red;
}

 
.flex-container {
  display: flex;
  /* border: solid blue */
}

/* .flex-child {
  flex: 1;
  border: 2px solid red;
}   */

/* .flex-child:first-child {
  margin-right: 20px;
}  */


#left {
  /* border: solid purple; */
  width: 35%;
  flex: 1
}

#right {
  flex: 1;
  /* border: solid green; */
  width: 65%;
  flex:1
}